body {
    font-family: "Marker Felt", "Arial";
    color: #003366;
    background: lightblue;
    margin: 0;
    overflow-y: scroll;
    }

    h1 {
    font-size: 1.8em;
    text-align: center;
    }
    h2 { 
    font-size: 1.2em; 
    text-align: center;
    }
    
    h3 { 
    font-size: 1.2em; 
    text-align: center;
    }

    h4 {
    font-size: 1.2em; 
    text-align: center;
    }


    a {
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    padding: 0.5%;
    border-radius: 40px;
    display: ruby-base;
    background: lightblue;
    }

    header {
    margin-top: 10px;
    margin-right: 64.4%;
    margin-left: 2%;
    background: navajowhite;
    border-radius: 200px;
    padding: 0.75%;
    }
    
    p {
    text-align: center;
    margin-bottom: 30px;
    }

    table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    }

    tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color:#9FB6CD;
    }

    th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
    }

    .coolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .homepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .scratch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .one {
    margin-top: -15px;
    border-style: outset;
    border-color: navajowhite;
    border-width: 5px;
    }

